= link_to article_path(article) do
  .card
    .card_title
      = @article&.title
    .card_detail
      %div
      - if @user.present?
        %p= article.author_name
        %p= article.display_created_at